scipy==1.4.1
pandas==1.1.2
mdlp_discretization==0.3.3
scikit_image==0.17.2
Keras==2.4.3
pyfolding==1.1.2
numpy==1.19.5
lime==0.2.0.1
yellowbrick==1.1
ipython==7.24.1
matplotlib==3.4.2
mdlp==0.32
scikit_learn==0.24.2
skimage==0.0
